<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table>

    <tr>
      <th>Deportment Name</th>
      <th>Contact Person</th>
      <th>Creeated On</th>
      <th>Updated By</th>
      <th>Action</th>
    </tr>
    <% if (deportments>0) {
    
        for(let i =0, i < deportments.length; i++){ %>
        <tr>
          <td>
            <%= deportments[i].deportmentName %>
          </td>
          <td>
            <%= deportments[i].contactPerson%>
          </td>
          <td>
            <%= deportments[i].createdAt%>
          </td>
          <td>
            <%= deportments[i].updatedAt%>
          </td>
        </tr>
        }

        }
        %>

  </table>
</body>

</html>



