*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.Dashboard-data{
display: flex;
gap: 3vh;
align-items: center;
justify-content:space-around ;
box-sizing: border-box;


}
.Dashboard-data-chalid{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    min-width: 200px;
    height: 100%;
    min-height: 180px;
}

/* .Dashboard-data-chalid2{
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
}

.Dashboard-data-chalid3{
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
}

.Dashboard-data-chalid4{
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
} */